rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/{allPaths=**} {
      // Allows structural read/write validation checks matching Google Auth unique runtime uid 
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
